<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook Assigment #

## Introduction ##

This notebook will show you: <br>
- Data science languages.
- Data science libraries.
- Data Science tools. 
- Arithmetic expression examples.
- Objectives

### Data Science Languages ###

- Python
- Scala
- R
- SAS
- SQL
- Julia

### Data Science Libraries ###

- Keras
- TensorFlow
- Pandas
- Matplotlib
- Seaborn
- Numpy
- sklearn

### Data Science Tools ###

|Tool|Name|
|----|----|
|Data Management|SQL, NoSQL, Filed Based Tools, Elastic Search|
|Data Integration and Transformation|ELT,Apache Airflor, Kubeflow, Apachekafka, Apache nifi, Spark SQL, NodeRed|
|Data Visualization|Hue (SQL Queries), Kibana, Apache Superset|
|Model Deployment|Apache prediction IO, Seldon, mleap, Tensorflowservice|
|Model monitoring and assessments|Model DB, Prometheous, IBM research trusted AI, IBM Robustness 360 toolbox, AI explainability 360|
|Code Asset Management|Github, Bitbucket|
|Data Asset Management|Apache Atlas, Kylo|

### Arimethic Expressions Samples ###

In [9]:
# we want to mutiply real numbers 
# we define our variables

x = 89
y = 8465

#we excecute the code

multiplication = x*y

#we print the result 
print ("the multiplication of x times y is", multiplication)

the multiplication of x times y is 753385

In [13]:
#Multiplying and adding numbers#
#creating variables
x = 58
y = 59
b = 89

#excecuting function
m = x*y + b

#printing function
m

3511

In [14]:
#Converting Minutes into Hours

#Creating variables
min = 879

#Creating function
Hours = min / 60

#Printing function
Hours

14.65

### My Objectives ###

My objectives are:
- Objective 1
- Objective 2
- Objective 3

**Created by** <br>
**Daniela Rodriguez**

Aspiring Data Scientist <br>
*I am Interested in data science because I want to change careers and focus on something I really enjoy*